body{
    background-image: url("../images/hotel_login_bg.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    color: white;
}
.login{
    background-color: rgba(154, 154, 154, 0.748);
}
.logo img{
    width: 30%;
}